<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>confirmation</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Arimo&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        input{
            background-color: lightgray;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg " style="background-color: black;">
        <a class="navbar-brand" href="/">
            <img src="images/eci2.png" width="150px" height="30px" loading="lazy" style="background-color: white;" />
          </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/admin/home" style="color:white;"
                        onMouseOver="this.style.color='red'" onMouseOut="this.style.color='white'">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/logout" style="color:white;"
                        onMouseOver="this.style.color='red'" onMouseOut="this.style.color='white'">Logout</a>
                </li>
    
            </ul>
        </div>
    </nav>
    <div style="background: url('images/backi2.png'); height: 100vh; background-repeat: no-repeat;background-size: cover;">
        <br>
        <h1 style="margin-left: 38%;
        ">Confirm Update Request</h1>   
    <form action="" method="post" enctype="application/x-www-form-urlencoded" style="
    width: 43%;
    height: 60%;
    border: 7px solid black;
    display: inline-block;
    justify-content: center;
    padding: 30px;
    border-radius: 20px;
    margin-left: 30%;
    margin-top: 2%;
    font-size: 20px;">
        <label style="margin-left:24%;">OLD INFO</label>
        <label>         </label>
        <label style="float: right; margin-right:15%;">NEW INFO</label>
        <br><br>
        <label>Name</label>
        <label style="margin-left:15%;"><%= userold.name %></label>
        <input type="text" name="name" placeholder="Enter Name" value="<%= user.name %>" style="float: right;" onkeydown="return false">
        <br><br>
        <label>Email</label>
        <label style="margin-left:15.5%;"><%= userold.email %></label>
        <input type="email" name="email" placeholder="Enter Email" value="<%= user.email %>" style="float: right;" onkeydown="return false">
        <br><br>
        <label>Mobile</label>
        <label style="margin-left:13%;"><%= userold.mobile %></label>
        <input type="text" name="mno" placeholder="Enter mobile" value="<%= user.mobile %>" style="float: right;" onkeydown="return false">
        <br><br>
        <label>Adhar No</label>
        <label style="margin-left:9%;"><%= userold.adhar %></label>
        <input type="text" name="adhar" placeholder="Enter Aadhar Number" value="<%= userold.adhar %>" style="float: right;" onkeydown="return false">
        <br><br>

        <input type="hidden" name="id" value="<%= user.userid %>" >
        <button button id="imp" style="margin-left: 35%;
        margin-top: 2%;
        background-color: black;
        color: white;
        width: 150px;
        height: 50px;
        border-radius: 10px;
        font-size: 17px;" type="submit" value="confirm" onMouseOver="this.style.color='red'" onMouseOut="this.style.color='white'">
        Confirm  
        </button>
        
    </form>
    </div>
</body>
</html>